body {
    font-family: sans-serif;
}

h1 {
    margin-top: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 75px auto;
}

.photo-container {
    float: left;
}

.photo {
    height: 250px;
}

.about {
    padding-left: 50px;
    overflow: hidden;
}
